ul {
	display: block;
	list-style: none;
	margin: 0;
    padding: 0;
    float: left;
}

ul a:link, ul a:visited {
	text-decoration: none;
	display: block;
	width: 80px;
	text-align: center;
	background-color: black;
	color: gold;
	border: 2px outset black;
	padding: 5px;
}

ul a:hover {
	border-style: inset;
	padding: 7px 3px 3px 7px;
} 
body {
    background-color: rgb(45, 45, 45);
}
#menu {
    float: left; 
    position: relative; 
    left: 50%;
}
#menu2 {
    float: left; 
    position: relative; 
    right: 50%;
}
.title {
    color: gold;
    text-align: center;
    margin-bottom: 100px;
}
hr {
    border-top: 1px solid white;
  }

#bel_air {
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#bel_air div {
    margin:0.5em;
    padding:0.5em;
    flex-basis: 33%;
}
h3 {
    color: gold;
}
.p {
    color: silver;
}
#about {
    text-align: center;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
}
